#root {
  font-family: monospace;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-box {
  width: 93%;
  border-radius: 30px;
  padding: 18px 30px;
  font-size: 20px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input-box:focus {
  box-shadow: 0 0 10px 1000px rgb(0, 0, 0, 0.5);
  outline: none;
}

.input-form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input-button {
  font-family: monospace;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #54b427;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
  
}

.input-button:hover {
  background-color: #438a3d;
}

.remove-button {
  padding: 5px;
  border-radius: 50px;
  background-color: red;
  border: none;
}

.remove-button:hover {
  transform: scale(0.9);
}

@media (max-width: 1024px) {
  .input-box {
    width: 92%;
  }
}

@media (max-width: 768px) {
  .input-box {
    width: 89%;
  }
}

@media (max-width: 390px) {
  .input-box {
    width: 77%;
  }
}

